<div class="alert alert-success" ng-show="mensagemSucesso">
  <strong>Sucesso!</strong> Dados cadastrado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users" aria-hidden="true"></i>
	<label>Novo Proprietário</label>

</div>

<hr>

<div class="conteudo">

<form name="FormProprietario" ng-submit="add(proprietario)">
	
	<div class="row">

	<div class="col-md-12">
		<div class="form-group">
		<label>Nome Completo</label>
		<input type="text" class="form-control" ng-model="proprietario.nomeCliente" required> 
    </div> 
    </div>

	<div class="col-md-12">
		<div class="form-group">
		<label>E-mail</label>
		<input type="email" class="form-control" ng-model="proprietario.emailCliente" required> 
    </div> 
    </div>

	<div class="col-md-12">
		<div class="form-group">
		<label>Endereço</label>
		<input type="text" class="form-control" ng-model="proprietario.enderecoCliente" required> 
    </div> 
    </div>

    </div>
	
<hr>
<button type="submit" class="btn btn-primary">Salvar Dados</button> 
</form>

</div>
