
<div class="acoes">
  <i class="fa fa-bus" aria-hidden="true"></i>
  <label>Lista Geral dos Veiculos</label>
</div>

<hr>

<div class="conteudo">

  <div class="cinco">

    <div class="row">

     <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Nome da Linha</td>
            <td>Destino</td>
            <td>Periodo</td>
            <td>Qtd Vagas</td>
            <td>Ocupadas</td>
            <td>Disponiveis</td>
            <td>Associados</td>
            <td>Aguardando</td>
          </tr>
        </thead>

          <tbody>
            <tr ng-repeat="x in teste">
            <td>{{x.nomeLinha}}</td>
            <td>{{x.destino}}</td>
            <td>{{x.periodo}}</td>
            <td>{{x.numVagas}}</td>
            <td>Ocupadas</td>
            <td>Disponiveis</td>
            <td><a onMouseOver="this.style.cursor='pointer'" ng-click="preAssociados(x.id)">Verificar</a></td>
            <td><a onMouseOver="this.style.cursor='pointer'" ng-click="listaEspera(x.id)">Verificar</a></td>
          </tr>
          </tbody>  

      </table>
    </div>
  </div>
</div>

  <div class="seis" ng-show="seis">
    
      <input type="text" class="form-control" ng-model="busca" placeholder="Procure pelo Usuario"><br>
  
     <table class="table table-condensed">
        <thead>
         <tr>
            <td>Associados</td>
         </tr>
        </thead>

        <tbody> 
         <tr ng-repeat="x in veiculos | filter: busca">
           <td>Associados {{$index +1}}</td>
         </tr>   
        </tbody>
     </table>


  </div>

  <div class="seis" ng-show="sete">
    
      <input type="text" class="form-control" ng-model="busca" placeholder="Procure pelo Usuario"><br>
  
     <table class="table table-condensed">
        <thead>
         <tr>
            <td>Pré-Associados</td>
         </tr>
        </thead>

        <tbody> 
         <tr ng-repeat="x in veiculos | filter: busca">
           <td>Associados {{$index +1}}</td>
         </tr>   
        </tbody>
     </table>


  </div>

</div>