<!-- Modal Update Endereco -->
<div class="modal fade bs-example-modal-lg-UpdateEndereco" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="closeModalUpdateEndereco">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atualizar</h4>
      </div>

       <form name="FormCliente" ng-submit="updateEndereco(enderecos)">

           <div class="modal-body">
              <div class="row">

                    <div class="col-md-12">
                    <div class="form-group">
                        <label>Endereço{{enderecos}}</label>
                        <input type="text" class="form-control" ng-model="enderecos.logradouro">
                     </div>
                     </div>

                    <div class="col-md-3">
                    <div class="form-group">
                    <label>Estado</label>
                        <select class="form-control" ng-change="executeCidade(enderecos.estadoId)"
                        ng-options="endereco.idEstado as endereco.nome for endereco in estados"
                        ng-model="enderecos.estadoId"
                        ng-init="endereco.idEstado = endereco.idEstado || endereco.estadoId">
                        <option value="">Selecione Estado</option>
                        </select>
                    </div>
                    </div>

                    <div class="col-md-3">
                    <div class="form-group">
                    <label>Cidade</label>
                        <select class="form-control" ng-change="executeBairro(enderecos.cidadeId)" ng-disabled="!enderecos.estadoId"
                        ng-options="c.idCidade as c.nome for c in cidades | filter: {estadoId: enderecos.estadoId}"
                        ng-model="enderecos.cidadeId"
                        ng-init="endereco.idCidade = endereco.idCidade || endereco.cidadeId">
                        <option value="">Selecione Cidade</option>
                        </select>
                    </div>
                    </div>

                    <div class="col-md-3">
                    <div class="form-group">
                        <label>Bairro</label>
                         <!-- InputBairro novo Bairro -->
                        <div ng-show="inputBairro">
                        <input type="text" class="form-control" ng-model="enderecos.bairroId" placeholder="Novo Bairro" required>
                        </div>

                       <!-- Select de Bairros -->
                
                        <select class="form-control" ng-disabled="!enderecos.cidadeId"
                         ng-options="b.idBairro as b.nome for b in bairros | filter: {cidadeId: enderecos.cidadeId}"
                         ng-model="enderecos.bairroId"
                         ng-show="selectBairro"
                         ng-init="endereco.idBairro = endereco.idBairro || endereco.bairroId">
                        <option value="">Selecione Bairro</option>
                        </select>
                </div>
                </div>


                <div class="col-md-3" ng-show="btnNewBairro">
                <div class="form-group">
                    <span style="margin-top:25px; float:left;"> <button type="submit" class="btn btn-primary" ng-click="newBairro()">Novo Bairro</button></span>
                </div>
                </div>

                <div class="col-md-3" ng-show="btnBairroBack">
                <div class="form-group">
                    <span style="margin-top:25px;float:left;"><button type="submit" class="btn btn-danger" ng-click="backBairro('bairro')">Voltar</button></span>
                </div>
                </div>
            </div>    <!--row -->

           </div><!--modal-body -->

             <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Atualizar Dados</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>

         </form>

    </div>
  </div>
</div>
