<!-- Modal Update Fotos -->
<div class="modal fade bs-example-modal-lg-modalUpdateFotos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="closemodalUpdateFotos
modalUpdateFotos">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atualizar</h4>
      </div>
       <form name="myForm" ng-submit="updateFotos(foto)">

           <div class="modal-body">
              <div class="row">
                    <div ng-repeat = "x in inputsFotos">
                        <div class="col-md-3">
                        <div class="form-group">



                            <center><label for="">{{x.label}}</label></center>

                            <input style="display:none" type="file" name="myImage[$index]" image-with-preview
                                   ng-model="foto[$index]"
                                   accept="image/jpeg,image/png"
                                   id='selecao-arquivo{{x.value}}'
                                   dimensions="height < 400 && width < 1800 && width > 2 * height">
                                   <span class="error" ng-show="myForm.myImage[$index].$error.image">
                                        Not a JPEG or a PNG!
                                      </span>
                                      <span class="error" ng-show="myForm.myImage[$index].$error.dimensions">
                                        Invalid dimensions! Expecting a landscape image smaller than 1800x400.
                                      </span>


                            <div ng-if="foto[$index]['status'] != x.value">

                                <label class="label-file" for='selecao-arquivo{{$index}}' ng-click="fotoSelect($index)">
                                    <div ng-if="$index != fotoSelecionado">
                                    <img src="view/upload/imovelUpload.jpg"  width="100" height="100">
                                    </div>
                                <img ng-show="foto[$index].src" ng-src="{{foto[$index].src}}"
                                 width="100" height="100"/>

                                </label>
                        </div>

                        <div ng-if="foto[$index]['status'] == x.value">
                            <label class="label-file" for='selecao-arquivo{{$index}}'>
                            <img src="view/upload/{{foto[$index]['nomeImagem']}}"
                             width="100" height="100" alt="">
                            </label>
                        </div>

                        </div>
                        </div>
                    </div>

                <!--
              <div ng-repeat = "x in inputsFotos">
                <div class="col-md-3">
                  <div class="form-group">
                    <center><label for="">{{x.label}}{{x.status}}</label></center>
                    <div ng-if="foto[$index]['status'] != x.status"> <label class="label-file" for='selecao-arquivo{{$index}}'><img src="view/upload/imovelUpload.jpg" width="100" height="100" alt=""></label></div>
                     <div ng-if="foto[$index]['status'] == x.status"> <label class="label-file" for='selecao-arquivo{{$index}}'><img src="view/upload/{{foto[$index]['nomeImagem']}}" width="100" height="100" alt=""></label></div>
                     <input type="file" style="display:none" id='selecao-arquivo{{x.value}}'
                     ng-file-model="foto[$index]" name="arquivo"/
                     accept="image/x-png, image/gif, image/jpeg" data-max-size="2048"
                     onchange="angular.element(this).scope().verificaFoto(this)"
                     >
                  </div>
                </div>
            </div>
-->
            </div>    <!--row -->

           </div><!--modal-body -->

             <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Atualizar Dados</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>

         </form>

    </div>
  </div>
</div>