 <!-- Modal Delete -->
<div class="modal fade bs-example-modal-lg-delete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="closeModalDel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deletar</h4>
      </div>

            <div class="modal-body">
               Deseja realmente Deletar {{cliente.nomeCliente}} ?
           </div><!--modal-body -->

             <div class="modal-footer">
                 <button type="button" class="btn btn-danger" ng-click="del(cursofaculdade.id)">Sim</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
              </div>

    </div>
  </div>
</div>