<!-- Modal Update Fotos -->
<div class="modal fade bs-example-modal-lg-modalUpdateFotos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="closemodalUpdateFotos
modalUpdateFotos">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Atualizar</h4>
      </div>


       <form name="myForm" ng-submit="updateFotos(fotos)">

              <div class="modal-body">
              <div class="row">

             
              <div ng-repeat="x in fotos">
                  
               
                <div class="col-md-4">
                <div class="form-group">
                      
                      <img src="view/upload/{{x.nomeImagem}}" width="100px" height="100px">
                 

                      <input type="file" ng-file-model="x.fotos" 
                      name="arquivo"/ class="form-control" 
                      accept="image/x-png, image/gif, image/jpeg" 
                      data-max-size="2048" 
                      onchange="angular.element(this).scope().verificaFoto(this)">                    
                </div>
                </div>

              </div>

              

 
            </div>

            </div><!--modal-body -->

             <div class="modal-footer">

                <button type="buttom" class="btn btn-info" ng-click="addfield()">+ Fotos</button>
                <button type="submit" class="btn btn-primary">Atualizar Dados</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>

         </form>

    </div>
  </div>
</div>
