.bloco_portal{
	width: 1024px;
	margin: 0 auto;
	height: 100px;
	padding: 10px;
}

.bloco_um{
	background: #D3D3D3;
	width: 300px;
	position: fixed;
	bottom: 10px;
	top:10px;
	box-shadow: 5px 5px 10px gray;

}

.bloco_dois {
    background: white;
	width: 1024px;
	position: fixed;
	bottom: 10px;
	top:10px;
	left: 610px;
	overflow: auto;
}
.bloco_perfil {
	width: 300px;
	height: 80px;
	padding: 20px;
	background: #422774;
	border-bottom: 5px solid #ECA33D;

}
.perfil {
	float: left;
	width: 300px;
}
.perfil img {

	margin-left: 26%;
	border-radius: 50px;
}
.info {
	float: left;
	margin-left: 10px;
	color: gray;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid white;
	margin-top: 20px;
	width: 250px;
	text-align: center;
}
.nome {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}    

.end {
	font-size: 14px;
}
.cidade {
	font-size: 14px;
}
.cep {
	font-size: 14px;
}
.altera{
	font-size: 14px;
}


.menu_portal ul li {
	display: inline;
	margin-left: -10px;
	width: 100%;
}
.menu_portal  ul li a {
	width: 90%;
	padding: 10px;
	display: inline-block;
	/* visual do link */
	text-decoration: none;
	color: gray;
}

.menu_portal  a:hover {
	text-decoration: none;
	background: #F3F3F3;
}
#blocoNoticiasPortal {
	display: block;
	width: 724px;
	height: auto;
	padding: 10px;
	float: left;
}
.chamadaLeiaMais{
	color: gray;
	padding: 10px 0px;
	font-weight: bold;
}
#blocoNoticiasPortal h4 {
	border-left: 10px solid gray;
	padding-left: 5px;
}

.empresa{
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
	padding: 20px 0px;

}
.bloco-update-foto{
	margin-top: 40px;
	margin-bottom: 20px;
}

.title_empresa {
	color: gray;
	text-align: center;
}
.version {
	color: gray;
	text-align:center;
}


.tituloPortal {
	padding-top: 12px;
	font-size: 16px;
	color: #422774;
	font-weight: bold;
}
.chamadaPortal {
	font-size: 14px;
}
.chamadaLeiaMaisPortal{
	color: gray;
	padding: 10px 0px;
	font-weight: bold;
}
.descricaoPortal {
	font-size: 12px;
}
.leiamaisPortal {
		padding-top: 15px;
}

hr.linhaPortal {
		border-top: 1px solid #b6b6b6;
}

.janela-chat {
	height: 500px;
	width: 100%;
	border: 1px solid #b6b6b6;
	margin-top: -6px;
	overflow: auto;
}
.acoes-chat {
	margin-bottom: 20px;
	height: 50px;
}
.Eu {
	width: 80%;
	height: auto; 
	border-radius: 20px;
	background:#8DEEEE;
	margin: 10px;
	padding: 5px;
	float:right ;
}
.Aetub{
	width: 80%;
	height: auto; 
	border-radius: 20px;
	background: #9BCD9B;
	margin: 10px;
	padding: 5px;
	float: left;
}