<div class="alert alert-warning" ng-hide="mensagem">
  <strong>Update!</strong> Atualização dos Dados foram inserido com sucesso.
</div>

<div class="alert alert-danger" ng-hide="mensagemDeleta">
  <strong>Sucesso!</strong> Dados deletado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users fa-lg aria-hidden="true"></i>

	<label>Altera Periodo</label>
</div>

<hr>

<div class="conteudo">
 
 <div class="tres">

   <input type="text" class="form-control" ng-model="busca" placeholder="Procure pelo Usuario">
   <br>

   <table class="table table-condensed">
    <thead>
     <tr>
        <td>Usuarios</td>
     </tr>
    </thead>

    <tbody> 
     <tr ng-repeat="x in periodos | filter: busca">
       <td> <a ui-sref="user.periodo.altera.detalhes({id: x.id})" ng-click="dados(x.id)">{{x.linha}}</a></td>
     </tr>
   
    </tbody>

   </table>

  </div>

<div class="quatro" ng-show="quatro">
 
<h4>{{periodo.linha}}</h4>

<hr/>

<form name="FormPeriodo" ng-submit="add(periodo)">
  
  <div class="row">

  <div class="col-md-3">
    <div class="form-group">
    <label>Linha</label>
    <select class="form-control" ng-model="periodo.linha" required="required">
      <option value="">Selecione uma Linha</option>
      <option value="linha Guaruja">Linha Guaruja</option>
      <option value="linha Santos">Linha Santos</option>
      <option value="linha Mogi">Linha Mogi</option>
    </select>
    </div> 
    </div>

 <div class="col-md-2">
      <div class="form-group">
            <label>Quantidade de Vagas</label>
            <input type="number" class="form-control" ng-model="periodo.qtasVagas">
       </div>
     </div>

     <div class="col-md-3">
      <div class="form-group">
            <label>Data Inicial</label>
            <input type="date" class="form-control" ng-model="periodo.dataInicio">
       </div>
     </div>

     <div class="col-md-3">
      <div class="form-group">
            <label>Data Final</label>
            <input type="date" class="form-control" ng-model="periodo.dataFinal">
       </div>
     </div>

  </div>
  <hr>

<button type="submit" class="btn btn-warning">Atualizar</button>
<button type="button" class="btn btn-danger" ng-click="deleta(periodo.id)">Deletar</button>
</form>

  </div>
</div>
