<div id="topo">

<!--Div do Logo -->
	<div id="blocoLogo">
		<img src="view/imagens/logo_aetube.png">
	</div>

<!--Div do Menu-->
	<div class="menu">
		
		<!--Inserção de Modulos -->

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.associados">Associados</a></button>
		  <div class="dropdown-content">
			    <a ui-sref="user.associado">Cadastro</a>
			    <a ui-sref="user.associado">Pré-Cadastro</a>
			    <a ui-sref="user.associado">Listagem</a>

		  </div>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.associados">Vagas</a></button>
		  <div class="dropdown-content">
			    <a ui-sref="user.associado">Cadastro</a>
			    <a ui-sref="user.associado">Listagem</a>

		  </div>
		</div>	

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.associados">Noticias</a></button>
		  <div class="dropdown-content">
			    <a ui-sref="user.associado">Cadastrar</a>
			    <a ui-sref="user.associado">Listagem</a>

		  </div>
		</div>	

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.associados">Cursos</a></button>
		  <div class="dropdown-content">
			    <a ui-sref="user.associado">Cadastrar</a>
			    <a ui-sref="user.associado">Listagem</a>

		  </div>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.associados">Oportunidade</a></button>
		  <div class="dropdown-content">
			    <a ui-sref="user.associado">Cadastrar</a>
			    <a ui-sref="user.associado">Listagem</a>

		  </div>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.associados">Configurações</a></button>
		  <div class="dropdown-content">
			    <a ui-sref="user.associado">Perfil</a>
			    <a ui-sref="user.associado">Senha</a>
			    <a ui-sref="user.associado">Sair</a>

		  </div>
		</div>

		<!--Inserção de Modulos -->


	</div>

 

</div>