<div id="topo">

<!--Div do Logo -->
	<div id="blocoLogo">
		<img src="view/imagens/logo_gadeveloper.png">
	</div>

<!--Div do Menu-->
	<div class="menu">
		
		<!--Inserção de Modulos -->

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.cliente">Clientes</a></button>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.imovel">Imoveis</a></button>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.finaceiro">Financerio</a></button>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.email">E-mail</a></button>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ui-sref="user.estastitica">Estatística</a></button>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ng-href="">Vizinhos</a></button>
		</div>

		<div class="dropdown">
		  <button class="dropbtn"><a ng-href="">Configurações</a></button>
		  <div class="dropdown-content">
			    <a ui-sref="user.conta">Conta</a>
				<a ui-sref="user.perfil">Perfil</a>	
				<a ui-sref="user.modulolinks">Sair</a>					 
		  </div>
		</div>
		
		<!--Inserção de Modulos -->


	</div>

 

</div>