/* SITE CORRETOR */

.corpo-corretor{
    margin: 0 auto;
    width: 100%;
    position: fixed;
}

.topo-corretor{
    width: 100%;
    height: 50px;
    background: #51A8B1;
    box-shadow: 1px 1px 5px black; 
}

.topo-conteudo {
    margin: 0 auto;
    height: 50px;
    width: 1024px;
}

.logo-imobiliar{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

.corretor {
    float: right;
    margin: -40px 0px 0px 0px;  

}

/*Feature Menu*/
.nome-corretor2 {
    color: white;
    font-weight: bold;
    float: right;
    padding: 15px 20px 0px 0px;
}
.foto-corretor {
    float: right;
}

.bloco-conteudo {
    width: 1100px;
    margin: 0 auto;
    padding-top: 15px;
}

.aside-corretor{
    width: 200px;
    float: left;
    margin-right: 15px;

}
/*BLOCO DO PERFIL*/
.aside-perfil{
    border: 1px solid #D3D3D3;
    width: 200px;   
}
.nome-corretor{
    font-size: 14px;
    text-align: center;
    width: 200px;
    font-weight: bold;

}
.idade-corretor{
    font-size: 14px;
    text-align: center;
}
.cresci-corretor{
    font-size: 14px;
    text-align: center;
    font-style: italic;
    padding-bottom: 15px;
}
.view-corretor {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
/*BLOCO ABOUT CORRETOR*/
.aside-about{
    margin-top: 15px;
    border: 1px solid #D3D3D3;
    width: 200px;
    padding: 10px;
}
.lista-about{
    list-style: none;
    padding: 0 3px;
    border: 1px solid red;

}

/*BLOCO DO IMOVEIS*/
.aside-imoveis{
    border: 1px solid blue;
    width: 524px;
    float: left;
    margin-right: 15px;
}

.bkg-perfil{
    width: 100%;
    height: 80px;
}
.foto-perfil img{
    border-radius: 100px;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    margin: -50px 0px 0px 50px;
}


/*BLOCO DO FILTRO*/
.aside-filtro{
    border: 1px solid green;
    float: left;
    width: 300px;
}