/* SITE CORRETOR */

.corpo-corretor{
    margin: 0 auto;
    width: 100%;
    position: fixed;
}

.topo-corretor{
    width: 100%;
    height: 50px;
    background: #51A8B1;
    box-shadow: 1px 1px 5px black; 
    position: fixed;
}

.topo-conteudo {
    margin: 0 auto;
    height: 50px;
    width: 1024px;
}

.logo-imobiliar{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

.corretor {
    float: right;
    margin: -40px 0px 0px 0px;  

}

/*Feature Menu*/
.nome-corretor2 {
    color: white;
    font-weight: bold;
    float: right;
    padding: 15px 20px 0px 0px;
}
.foto-corretor {
    float: right;
}

.bloco-conteudo {
    width: 1100px;
    margin: 0 auto;
    padding-top: 15px;
}

.aside-corretor{
    width: 200px;
    float: left;
    margin-right: 15px;

}
/*BLOCO DO PERFIL*/
.aside-perfil{
    border: 1px solid #D3D3D3;
    margin-top: 50px;
    width: 200px;  
    position: fixed;
}
.nome-corretor{
    font-size: 14px;
    text-align: center;
    width: 200px;
    font-weight: bold;

}
.idade-corretor{
    font-size: 14px;
    text-align: center;
}
.cresci-corretor{
    font-size: 14px;
    text-align: center;
    font-style: italic;
    padding-bottom: 15px;
}
.view-corretor {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}


.bkg-perfil{
    width: 100%;
    height: 80px;
}
.foto-perfil img{
    border-radius: 100px;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    margin: -50px 0px 0px 50px;
}

/*BLOCO ABOUT CORRETOR*/
.aside-about{
    position: fixed;
    margin-top: 280px;
    border: 1px solid #D3D3D3;
    width: 200px;
    padding: 10px;
}
.aside-about table tr td{
    padding: 5px;
}

/*BLOCO DO IMOVEIS*/
.aside-imoveis{
    width: 524px;
    margin-left: 220px;
    margin-right: 15px;
    margin-top: 50px;
    float: left;
}

.bloco-imovel{
    width: 524px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #D3D3D3;
}
.bloco-imovel img {
    width: 250px;
    height:199px;
    float: right;
}
.imovel-about{
    padding: 20px;
    float: left;
}
.preco-imovel {
    font-size: 18px;
    padding-top: 20px;
    color:#2E9AFE;
}

/*BLOCO DO FILTRO*/
.aside-filtro{
    float: right;
    margin-left: 770px;
    margin-top: 50px;
    width: 200px;
    height: 500px;
    border: 1px solid #D3D3D3;
    position: fixed;
    padding: 15px;
}