FSkip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @adniltonweb
 Sign out
 Unwatch 2
  Star 1
 Fork 1 dganet/dga
forked from gaDevelopper/gadeveloper
 Code  Pull requests 0  Projects 0  Wiki  Settings Insights 
Branch: aetub Find file Copy pathdga/admin/css/gadeveloper.css
a4b7053  11 days ago
@adniltonweb adniltonweb update
1 contributor
RawBlameHistory    
Executable File  340 lines (294 sloc)  4.87 KB
body, html,.corpo{
 	background: #E6E6E6;
 	margin: 0 auto;

}

/*  PAINEL LOGIN  */
.blocoHome {
	width: 100%;
	background: #006FBD;
	top:0;
 	bottom:0;
 	height: 100%;
 	position: absolute;
}


.titulo_login{
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;	
}


.blocoLogin {
	background: #F3F3F3;
 	margin: 0 auto;
 	width: 35%;
 	padding: 5%;
 	top:0;
 	bottom:0;
 	position: absolute;
 	left: 30%;
 	box-shadow: 2px 5px 15px rgba(0,0,0,0.5);
  	}


/*  PAINEL PAINEL  */

/*  topo  */
#topo {
	width: 100%;
	background: #006FBD;
	height: 40px;
	margin-top: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}

#blocoLogo {
	margin-top: -3px;
	float: left;
	margin-left: 20px;
	width: 300px;
}

.nomeUsuario{
	color: white;
	font-size: 16px;
	padding: 12px 15px;
	font-weight: bold;
}

#blocoLogo > img {
	height: 40px;
	margin-right: 20px;
	margin-top: 2px;
	float: left;
}


.dropbtn {
    background-color:#006FBD;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropbtn a {
	color: white;
}
.dropbtn a:hover{
	color: white;
	text-decoration: none;
}
.dropbtn a:visited{
	color: white;
	text-decoration: none;
}
.dropbtn a:active{
	color: white;
	text-decoration: none;
}
.menu {
	float: right;
    margin-right: 60px;
    }
.menu .dropdown {
    position: relative;
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -70px;
    z-index: 1;
}

.menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}


.menu .dropdown-content a:hover {background-color: #f1f1f1; border-left: 1px solid gray;}

.menu .dropdown:hover .dropdown-content {
    display: block;
}

.menu .dropdown:hover .dropbtn {
background:#006FBD; 
color:white; 
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 

}


/*  breadcrumb   */
.breadcrumb {
	background: white;
	margin:10px 10px 0px 10px;
	width: calc(100% - 20px);
	height: 40px;
	color: #336699;

}

/*  TEMPLATES  */
.template {
	background: white;
	width: calc(100% - 20px );
	position: absolute;
	top:105px;
	left: 10px;
	bottom: 10px;
	padding: 20px;
    overflow: auto;
}
.labelTemplate {
    padding-top: 10px;
}
.acaoTemplate {
    padding-top: -20px;
    float: right;
}
.corpoTemplate {
    margin-top: 30px;
}
.corpoTemplate .corpoTableTemplate .centro {
    text-align: center;
}

/*  TEMPLATE UM  */
.menuTemplateRight {
	background: #F5F5F5;
	width: 15%;
	position: fixed;
	bottom: 10px;
	top:105px;
	left: 10px;
	padding-top: 20px;

}
.menuTemplateLeft {
	background: #F5F5F5;
	width: calc(85% - 30px);
	position: fixed;
	bottom: 10px;
	top:105px;
	left: calc(15% + 20px);
	overflow: auto;
	padding: 50px;
	}

.tres {
	width: 20%;
	margin-top: -20px;
	padding-right: 20px;
	border-right:1px solid #E6E6E6;
	float: left;
}

.tres thead {
	font-weight: bold;
}


.quatro {
	width: calc(80% - 20px);
	float: left;
	padding-left: 20px;
	margin-bottom: 20px;
}

.cinco {
	width: 65%;
	margin-top: -20px;
	padding-right: 20px;
	border-right:1px solid #E6E6E6;
	float: left;
}

.cinco thead {
	font-weight: bold;
}


.seis {
	width: calc(35% - 20px);
	float: left;
	padding-left: 20px;
	margin-bottom: 20px;
}

.menuTemplateRight ul li {
	display: inline;
	width: 100%;
}
.menuTemplateRight ul li a {
	width: 100%;
	padding: 10px;
	display: inline-block;
	/* visual do link */
	text-decoration: none;
	color: gray;
	margin-left: -30px;
}

.menuTemplateRight a:hover {
	text-decoration: none;
	background: white;
}
table tbody tr .teste a{
	width: 100%;
	padding: 10px;
	display: inline-block;
	/* visual do link */
	text-decoration: none;
	color: gray;
}
table tbody tr .teste a:hover{
	text-decoration: none;
	background: #F3F3F3;
}
/*  SECTION  */

.acoes {
	width: 100%; 
	height: 20px;
	padding: 0px 20px 0px 30px;
}

.acoes a {
	color: black;
	padding-left: 10px;
}
.conteudo {
	padding: 10px 30px 0px 30px;
	margin-bottom: 20px;

}
.icone_altera {
margin-left: 20px;
}

/*  FIM  */

.navTabs {

	margin-bottom: 20px;
}

h4 {
	border-left: 10px solid gray;
	padding-left: 5px;
}


.veiculo ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.veiculo ul li {
	font-weight: bold;
}
.veiculo ul li li{
	font-weight: normal;
}

.table a:link{
	text-decoration: none;
}
.janela-chat {
	height: 500px;
	width: 100%;
	border: 1px solid #b6b6b6;
	margin-top: -6px;
	overflow: auto;
}
.acoes-chat {
	margin-bottom: 20px;
	height: 50px;
}
.Associado {
	width: 80%;
	height: auto; 
	border-radius: 20px;
	background:#8DEEEE;
	margin: 10px;
	padding: 5px;
	float:right ;
}
.Aetub{
	width: 80%;
	height: auto; 
	border-radius: 20px;
	background: #9BCD9B;
	margin: 10px;
	padding: 5px;
	float: left;
}
.obrigatorio {
	color:red;
}
/* Esconde o input */
input[type='file'] {
	display: none;
  }
  
  /* Aparência que terá o seletor de arquivo */
  .label-file {
    border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 10px;
	padding: 6px 20px;
  }


/* 
/* Desktop maiores */
/*@media (min-width: 1200px) { 
/*} 
tables em formato porta retrato até os desktos no formato paisagem */
/* @media (min-width: 768px) and (max-width: 1200px) {  }
/*
/* dispositivo em paisagem até os tablets em formato porta-retrato */
/*@media (min-width: 481px) and  (max-width: 767px) {  }
/*
/*  }
 
/* dispositivo no formato paisagem e abaixos */
/*@media (max-width: 480px) {}
© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About