
/* Desktop maiores */
@media (min-width: 1200px) { 
body, html,.corpo{
 	background: #E6E6E6;
 	margin: 0 auto;
}

/*  topo  */
#topo {
	width: 100%;
	background: #1C4A4A;
	height: 60px;
	margin-top: 20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#blocoLogo {
	margin-top: -3px;
	float: left;
	margin-left: 20px;
}

#logo {

}

.dropbtn {
    background-color:#1C4A4A;
    color: white;
    padding: 19px 30px;
    border: none;
    cursor: pointer;
}
.dropbtn a {
	color: white;
}
.dropbtn a:hover{
	color: white;
	text-decoration: none;
}
.dropbtn a:visited{
	color: white;
	text-decoration: none;
}
.dropbtn a:active{
	color: white;
	text-decoration: none;
}
.menu {
	float: right;
    margin-right: 60px;
    }
.menu .dropdown {
    position: relative;
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -70px;
    z-index: 1;
}

.menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.menu .dropdown-content a:hover {background-color: #f1f1f1; border-left: 1px solid gray;}

.menu .dropdown:hover .dropdown-content {
    display: block;
}

.menu .dropdown:hover .dropbtn {
background:#365E5E; 
color:white; 
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 

}



/*  breadcrumb   */
.breadcrumb {
	background: white;
	margin:20px 10px 0px 10px;
	width: calc(100% - 20px);
	height: 40px;
	color: #336699;

}

/*  TEMPLATES  */

/* Sub-Menu lado Esquerdo Links dos Templates */
.sub-menu ul li {
	display: inline;
	width: 100%;
}
.sub-menu ul li a {
	width: 100%;
	padding: 10px;
	display: inline-block;
	/* visual do link */
	text-decoration: none;
	color: gray;
	margin-left: -20px;
}
.sub-menu a:hover {
	text-decoration: none;
	background: #F3F3F3;
}


/*  Primeiro Layout  */
.primeiroLayout {
	background: white;
	width: 15%;
	position: fixed;
	bottom: 10px;
	top:150px;
	left: 10px;
	padding-top: 20px;

}
.segundoLayout {
	background: white;
	width: calc(85% - 30px);
	position: fixed;
	bottom: 10px;
	top:150px;
	left: calc(15% + 20px);
	overflow: auto;
	}

/*  SECTION  */

.acoes {
	width: 100%; 
	height: 50px;
	padding: 25px 20px 0px 30px;
}

.acoes a {
	color: black;
	padding-left: 10px;
}
.conteudo {
	padding: 25px 30px 0px 30px;

}
/*  FIM  */



} 