    <div class="topo-corretor">
        <div class="topo-conteudo">
            
            <div class="logo-imobiliar">
            Imobiliar
            </div>

            <div class="corretor">

                <div class="foto-corretor">
                    <img src="view/imagens/adnilton.jpg" width="52px" height="52px" alt="">
                </div>

                 <div class="nome-corretor">
                    Adnilton da Silva Santos
                </div>

            </div>

        </div>
    </div><!-- TOPO -->

<!-- INICIO PERFIL -->

<div class="aside-perfil">
  PERFIL
</div>

<!-- IMOVEIS -->

<div class="section-corretor">

imoveis

</div>

<!-- FILTRO -->

<div class="aside-filtro">

Filtros

</div>

<!-- RODAPE -->
<div class="footer">

</div>
