    <div class="topo-corretor">
        <div class="topo-conteudo">
            
            <div class="logo-imobiliar">
            Imobiliar
            </div>

            <div class="corretor">

                <div class="foto-corretor">
                    <img src="view/imagens/adnilton2.jpg" width="52px" height="52px" alt="">
                </div>

                 <div class="nome-corretor2">
                    Home
                </div>

            </div>

        </div>
    </div><!-- TOPO -->

<!-- DIV DO BLOCO INTEIRO PERFIL/IMOVEIS/FILTRO -->
<div class="bloco-conteudo">
    <!-- BLOCO DO CORRETOR -->  
    <div class="aside-corretor">
        
        <!-- INICIO PERFIL -->
        <div class="aside-perfil">
            <!-- IMAGEM DE FUNDO DO PERFIL -->
            <div class="bkg-perfil" style="background-image: url(view/imagens/bkg-perfil.jpg);background-repeat: no-repeat; background-position: center;"></div>

            <!-- FOTO DO PERFIL -->
            <div class="foto-perfil"><img src="view/imagens/bosta.png" alt=""></div>
          
            <div class="nome-corretor">Roberto Santos</div>
            <div class="idade-corretor">27 Anos</div>
            <div class="cresci-corretor">Cresci : 159951</div>
            <div class="view-corretor">Views | 17 Mil </div>

        </div><!-- FECHA INICIO PERFIL -->

        <div class="aside-about">
            <ul class="lista-about">
                <li> <i class="fa fa-map-o" aria-hidden="true"></i> Sou de Bertioga-SP</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    
    </div><!-- FECHAR BLOCO DO CORRETOR -->  

    <!-- IMOVEIS -->

    <div class="aside-imoveis">

    imoveis

    </div>

    <!-- FILTRO -->

    <div class="aside-filtro">

    Filtros

    </div>

    <!-- RODAPE -->
    <div class="footer">

    </div>

</div><!-- END BLOCO INTEIRO -->
