    <div class="topo-corretor">
        <div class="topo-conteudo">
            
            <div class="logo-imobiliar">
            Imobiliar
            </div>

            <div class="corretor">

                <div class="foto-corretor">
                    <img src="view/imagens/adnilton2.jpg" width="52px" height="52px" alt="">
                </div>

                 <div class="nome-corretor2">
                    Home
                </div>

            </div>

        </div>
    </div><!-- TOPO -->

<!-- DIV DO BLOCO INTEIRO PERFIL/IMOVEIS/FILTRO -->
<div class="bloco-conteudo">
    <!-- BLOCO DO CORRETOR -->  
    <div class="aside-corretor">
        
        <!-- INICIO PERFIL -->
        <div class="aside-perfil">
            <!-- IMAGEM DE FUNDO DO PERFIL -->
            <div class="bkg-perfil" style="background-image: url(view/imagens/bkg-perfil.jpg);background-repeat: no-repeat; background-position: center;"></div>

            <!-- FOTO DO PERFIL -->
            <div class="foto-perfil"><img src="view/imagens/bosta.png" alt=""></div>
          
            <div class="nome-corretor">Roberto Santos</div>
            <div class="idade-corretor">27 Anos</div>
            <div class="cresci-corretor">Creci : 159951</div>
            <div class="view-corretor">Views | 17 Mil </div>

        </div><!-- FECHA INICIO PERFIL -->

        <div class="aside-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">e-mail eletrônico</a></td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-phone" aria-hidden="true"></i></td>
                    <td>&ensp;(13) 3312-1857</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-mobile" aria-hidden="true"></i></td>
                    <td>&ensp;(13) 9 9609-9603</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp; Bertioga-SP</td>
                </tr>

            </table>
        </div>
    
    </div><!-- FECHAR BLOCO DO CORRETOR -->  

    <!-- IMOVEIS -->

    <div class="aside-imoveis">

    <div class="bloco-imovel">
        <div class="imovel-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-building" aria-hidden="true"></i></td>
                    <td>&ensp;Apartamento</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bed" aria-hidden="true"></i></td>
                    <td>&ensp;04 (sendo 2 suites)</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bath" aria-hidden="true"></i></td>
                    <td>&ensp;02</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    <td>&ensp;200m²</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp;Boraceia,Bertioga-SP</td>
                </tr>
                <tr>
                    <td class="tdCentralizado preco-imovel"><i class="fa fa-money" aria-hidden="true"></i></td>
                    <td class="preco-imovel">&ensp;R$ 190.000,00</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-info" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">Detalhes</a></td>
                </tr>
            </table>
        </div>
             <img src="view/galeria/casa01.jpg">
    </div>

    <div class="bloco-imovel">
        <div class="imovel-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-building" aria-hidden="true"></i></td>
                    <td>&ensp;Apartamento</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bed" aria-hidden="true"></i></td>
                    <td>&ensp;04 (sendo 2 suites)</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bath" aria-hidden="true"></i></td>
                    <td>&ensp;02</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    <td>&ensp;200m²</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp;Boraceia,Bertioga-SP</td>
                </tr>
                <tr>
                    <td class="tdCentralizado preco-imovel"><i class="fa fa-money" aria-hidden="true"></i></td>
                    <td class="preco-imovel">&ensp;R$ 890.000,00</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-info" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">Detalhes</a></td>
                </tr>
            </table>
        </div>
             <img src="view/galeria/casa02.jpg">
    </div>

    <div class="bloco-imovel">
        <div class="imovel-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-building" aria-hidden="true"></i></td>
                    <td>&ensp;Apartamento</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bed" aria-hidden="true"></i></td>
                    <td>&ensp;04 (sendo 2 suites)</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bath" aria-hidden="true"></i></td>
                    <td>&ensp;02</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    <td>&ensp;200m²</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp;Boraceia,Bertioga-SP</td>
                </tr>
                <tr>
                    <td class="tdCentralizado preco-imovel"><i class="fa fa-money" aria-hidden="true"></i></td>
                    <td class="preco-imovel">&ensp;R$1.290.000,00</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-info" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">Detalhes</a></td>
                </tr>
            </table>
        </div>
             <img src="view/galeria/casa03.jpg">
    </div>

    <div class="bloco-imovel">
        <div class="imovel-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-building" aria-hidden="true"></i></td>
                    <td>&ensp;Apartamento</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bed" aria-hidden="true"></i></td>
                    <td>&ensp;04 (sendo 2 suites)</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bath" aria-hidden="true"></i></td>
                    <td>&ensp;02</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    <td>&ensp;200m²</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp;Boraceia,Bertioga-SP</td>
                </tr>
                <tr>
                    <td class="tdCentralizado preco-imovel"><i class="fa fa-money" aria-hidden="true"></i></td>
                    <td class="preco-imovel">&ensp;R$ 800.000,00</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-info" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">Detalhes</a></td>
                </tr>
            </table>
        </div>
             <img src="view/galeria/casa04.jpg">
    </div>

    <div class="bloco-imovel">
        <div class="imovel-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-building" aria-hidden="true"></i></td>
                    <td>&ensp;Apartamento</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bed" aria-hidden="true"></i></td>
                    <td>&ensp;04 (sendo 2 suites)</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bath" aria-hidden="true"></i></td>
                    <td>&ensp;02</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    <td>&ensp;200m²</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp;Boraceia,Bertioga-SP</td>
                </tr>
                <tr>
                    <td class="tdCentralizado preco-imovel"><i class="fa fa-money" aria-hidden="true"></i></td>
                    <td class="preco-imovel">&ensp;R$ 280.000,00</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-info" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">Detalhes</a></td>
                </tr>
            </table>
        </div>
             <img src="view/galeria/casa05.jpg">
    </div>

    <div class="bloco-imovel">
        <div class="imovel-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-building" aria-hidden="true"></i></td>
                    <td>&ensp;Apartamento</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bed" aria-hidden="true"></i></td>
                    <td>&ensp;04 (sendo 2 suites)</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bath" aria-hidden="true"></i></td>
                    <td>&ensp;02</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    <td>&ensp;200m²</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp;Boraceia,Bertioga-SP</td>
                </tr>
                <tr>
                    <td class="tdCentralizado preco-imovel"><i class="fa fa-money" aria-hidden="true"></i></td>
                    <td class="preco-imovel">&ensp;R$ 550.000,00</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-info" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">Detalhes</a></td>
                </tr>
            </table>
        </div>
             <img src="view/galeria/casa06.jpg">
    </div>


    <div class="bloco-imovel">
        <div class="imovel-about">
            <table>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-building" aria-hidden="true"></i></td>
                    <td>&ensp;Apartamento</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bed" aria-hidden="true"></i></td>
                    <td>&ensp;04 (sendo 2 suites)</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-bath" aria-hidden="true"></i></td>
                    <td>&ensp;02</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    <td>&ensp;200m²</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                    <td>&ensp;Boraceia,Bertioga-SP</td>
                </tr>
                <tr>
                    <td class="tdCentralizado preco-imovel"><i class="fa fa-money" aria-hidden="true"></i></td>
                    <td class="preco-imovel">&ensp;R$ 390.000,00</td>
                </tr>
                <tr>
                    <td class="tdCentralizado"><i class="fa fa-info" aria-hidden="true"></i></td>
                    <td>&ensp;<a href="">Detalhes</a></td>
                </tr>
            </table>
        </div>
             <img src="view/galeria/casa07.jpg">
    </div>

    </div><!-- ASIDE -->

    <!-- FILTRO -->

    <div class="aside-filtro">
        <form>
            <div class="row">
            
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Referência">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Transação</label>
                    <select class="form-control">
                      <option value="volvo">Comprar</option>
                      <option value="saab">Alugar</option>
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Tipo do Imovel</label>
                    <select class="form-control">
                      <option value="volvo">Casa</option>
                      <option value="saab">Aparatamento</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Minimo">
                </div>
            </div>

            <div class="col-md-6">         
                <div class="form-group">
                     <input type="text" class="form-control" placeholder="Máximo">
                </div>
            </div>

            <div class="col-md-12">  
                <div class="form-group">
                 <button type="submit" class="btn btn-primary">Buscar</button> 
                </div>
            </div>

            </div>

        </form>
   </div>
    <!-- RODAPE -->
    <div class="footer">

    </div>

</div><!-- END BLOCO INTEIRO -->
