
<section>

        <div class="pg-conta">
         <div class="bloco-form-conta">
           <div class="tituloConta">Nova Conta</div>
           
          <form>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control">
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control">
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control">
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Confirma Senha</label>
                        <input type="password" class="form-control">
                   </div>
              </div>
              </div>

<div class="termos">
 <input type="checkbox"> Eu li e concordo com os termos de uso da <a ui-sref="">Politica de Privacidade</a>.
</div>

<button type="śubmit" class="btn btn-primary">Salvar Dados</button>

          </form>

       </div>
     

            </aside>


</section>