
<section>

        <div class="pg-conta">
         <div class="bloco-form-conta">
           <div class="tituloConta">Nova Conta</div>
           
          <form name="formUsuario" ng-submit="add(usuario)">

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" ng-model="usuario.nomeUsuario">
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control" ng-model="usuario.emailUsuario">
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" ng-model="usuario.senhaUsuario" ng-change="senhaOriginal(senhaUsuario)">
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Confirma Senha</label>
                        <input type="password" class="form-control" ng-model="senhaConfirma" ng-change="checkSenha(senhaConfirma)">
                   </div>
              </div>
              </div>

<div class="termos">
 <input type="checkbox" ng-model="usuario.termoUsuario"> Eu li e concordo com os termos de uso da Politica de Privacidade</a>.
</div>

<button type="submit" class="btn btn-primary">Salvar Dados</button>

          </form>

       </div>
     

            </aside>


</section>