<section>

    <div class="saudacoes">

        Obrigado a todos os <span style="font-size:20px; font-weigth:bold;">1248</span> corretores que agreditam nesse projeto ! </br></br>       

<!-- Pluing de Curtir do Facebook-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=110006319561262";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-like" data-href="https://www.facebook.com/imobiliar.net/" data-width="480px" 
data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true">
</div>

</div>

</section>