<div class="bkg-fundo">
    <img src="view/imagens/bkg.jpeg" class="bg" alt="">

<!-- Pluing de Curtir do Facebook-->
<div id="fb-root">
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=110006319561262";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


  <div class="fb-like" data-href="https://www.facebook.com/imobiliar.net.br/" data-width="480px" 
  data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
  </div>

</div>
<!-- Seach do Site-->
<div class="bloco-search">
  <label>Procure o seu Ímovel</label>
<form action="">

  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <select> 
          <option value="">Selecione o Estado</option>
          <option value="">São Paulo</option>
          <option value="">Mina Gerais</option>
        </select>
       </div>
      </div>

    <div class="col-md-5">
      <div class="form-group">
        <select> 
          <option value="">Selecione a Cidade</option>
          <option value="">São Paulo</option>
          <option value="">Mina Gerais</option>
        </select>
        </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </div><!-- fecha row -->

</form>
</div>

<!-- Nova Conta do Site-->
<div class="bloco-form-conta">
           <div class="tituloConta">Nova Conta</div>

            <div class="alert alert-danger" ng-show="mensagemSenha">
            <strong>Senhas!</strong> não estão iguais.
            </div>

            <div class="alert alert-success" ng-show="mensagemSucesso">
            <strong>Sucesso!</strong> Dados Cadastrado com Sucesso , enviado um e-mail para ativação do seu cadastro.
            </div>
          <form name="formUsuario" ng-submit="add(usuario)">

               <div class="row">
                   <div class="col-md-5">
                   <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" ng-model="usuario.nomeUsuario" required>
                   </div>
              </div>

                   <div class="col-md-7">
                   <div class="form-group">
                        <label>Sobrenome</label>
                        <input type="text" class="form-control" ng-model="usuario.sobrenomeUsuario" required>
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-8">
                   <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" ng-model="usuario.emailUsuario" required>
                   </div>
              </div>

                   <div class="col-md-4">
                   <div class="form-group">
                        <label>Creci</label>
                        <input type="text" class="form-control" ng-model="usuario.creciUsuario" required>
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" ng-model="usuario.senhaUsuario" required>
                   </div>
              </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                   <div class="form-group">
                        <label>Confime a Senha</label>
                        <input type="password" class="form-control" ng-model="usuario.senha" required>
                   </div>
              </div>
              </div>

<div class="termos">
 <input type="checkbox" ng-model="usuario.termoUsuario"> Eu li e concordo com os termos de uso da Politica de Privacidade</a>.
</div>

{{teste}}
<button type="submit" class="btn btn-primary">Salvar Dados</button>

          </form>

       </div>

</div>
