<div class="forgetsenha">

<label><h2 class="centralizar">Recuperação de Senha</h2></label>

  <form>
    
    <div class="row">
        <div class="col-md-6">
          <div class="form-group"> 
            <input type="text" class="form-control" name="codigo" placeholder="Insira o Código de Resgate">
          </div>
        </div>
    </div>
    
    <input type="password" class="form-control" name="Senha" placeholder="Nova Senha">

    <input type="password" class="form-control" name="repeteSenha" placeholder="Repetir Senha">

  </form>

</div><!--END forgetsenha -->