<header>

    <!--Parte do Logo e do Nome Imobiliar-->
    <div class="logo-site">
        <img src="view/imagens/logo-imobiliar.png" alt="logo do site imobiliar">
    </div>
    <div class="titulo-site">
        <img src="view/imagens/title-imobiliar.png" alt="Titulo do Site Imobiliar">
    </div>

    <!--Parte de Criar Conta e Realizar Login-->
    <div class="bloco-login-conta">
         <!--Parte de Criar Conta-->
        <div class="conta">
            Criar Conta
        </div>
         <!--Autenticação-->
        <div class="login">
            Login
        </div>
    </div>
</header>

<section>
    <!--Filtros da Ferramenta no Site-->
    <div class="bloco-filtro-site">
        <div class="form-group">
        <select class="form-control">
            <option value="">Selecione um Estado</option>
        </select>
        </div>

        <div class="form-group">
        <select class="form-control">
            <option value="">Selecione um Cidade</option>
        </select>
        </div>
    </div>

    <!--Imoveis mostrados Referente a Busca-->
    <aside>

        <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

                <div class="bloco-imoveis-site">
            <div class="titulo-imovel-site">Sobrado</div>
            <div class="ref-site">REF : 0857795478</div>
            <img src="view/galeria/casa01.jpg" alt="Foto de um Casa" height="180px" width="250px">
            <div class="titulo-preco">Preço</div>
            <div class="preco-imovel-site">R$ 850.000,00</div>
            <div class="titulo-localizacao">Localização</div>
            <div class="localizacao-site">Maitinga</div>
        </div>

    </aside>


</section>