<div class="primeiroLayout">
	<div class="sub-menu">
    <ul>

		<li><a ui-sref="user.perfil.picture"><i class="fa fa-picture-o" aria-hidden="true"></i> Mudar Imagem</a></li>
		<li><a ui-sref="user.perfil.update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Altera Dados</a></li>
		<li><a ui-sref="user.perfil.security"><i class="fa fa-lock" aria-hidden="true"></i> Segurança</a></li>
		<li><a ui-sref="user.perfil.desativa"><i class="fa fa-trash-o" aria-hidden="true"></i> Desativar Conta</a></li>

	</ul>
	</div>
</div>

<div class="segundoLayout">
	<div ui-view></div>
</div>