<div class="alert alert-success" ng-show="mensagemSucesso">
  <strong>Sucesso!</strong> Dados cadastrado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-picture-o" aria-hidden="true"></i>
	<label>Foto do Perfil</label>

</div>

<hr>

<div class="conteudo">
    
<form name="FormPicture" ng-submit="fotoPerfil(picture)" method="post">

  <div class="form-group">
    <label>Alterar a foto Perfil</label>
    <input type="file" ng-file-model="picture.foto" name="arquivo"/ class="form-control">
  </div>

  <hr>  
  <button type="submit" class="btn btn-primary">Atualizar
     Dados</button> 

</form>


</div>
