<div class="blocoHome">

	<div class="gadeveloper">
		
		<div class="logo">
			<img src="imagens/logo_gadeveloperG.png"></div>
		</div>
	</div>
	
	<div class="blocoLogin">

		<div class="login">

			<div class="titulo_login">Good Job!</div>
		
			<form name="FormAut" ng-submit="logando(user)">
				<div class="form-group">
					<div class="input-group margin-bottom-sm">
			  			<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
			  			<input class="form-control" type="text" ng-model="user.login" placeholder="Login" required="required">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
					  <input class="form-control" type="password" ng-model="user.senha" placeholder="Senha" required="required">
					</div>
				</div>

				<button type="submit" class="form-control btn btn-primary">Entrar</button>
			</form>

			<br>
			<div class="alert alert-danger" ng-hide="mensagem">
			  <strong>Error!</strong> Login ou Senha inválido.
			</div>

		</div>

	</div>

</div>