<div class="alert alert-warning" ng-hide="mensagem">
  <strong>Update!</strong> Atualização dos Dados foram inserido com sucesso.
</div>

<div class="alert alert-danger" ng-hide="mensagemDeleta">
  <strong>Sucesso!</strong> Dados deletado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users fa-lg aria-hidden="true"></i>

	<label>Altera Usuários</label>
</div>

<hr>

<div class="conteudo">
 
 <div class="tres">

   <input type="text" class="form-control" ng-model="busca" placeholder="Procure pelo Usuario">
   <br>

   <table class="table table-condensed">
    <thead>
     <tr>
        <td>Usuarios</td>
     </tr>
    </thead>

    <tbody> 
     <tr ng-repeat="x in usuarios | filter: busca">
       <td> <a ui-sref="user.usuario.altera.detalhes({id: x.id})" ng-click="dados(x.id)">{{x.nome}}</a></td>
     </tr>
   
    </tbody>

   </table>

  </div>

<div class="quatro" ng-show="quatro">
 
<h4>{{usuario.nome}}</h4>
    <hr>

<form name="FormUsuario" ng-submit="add(usuario)">
  
  <div class="row">

  <div class="col-md-3">
    <div class="form-group">
    <label>E-mail</label>
    <input type="text" class="form-control" ng-model="usuario.email"> 
    </div> 
    </div>

    <div class="col-md-3">
    <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" ng-model="usuario.senha"> 
    </div> 
    </div>

     <div class="col-md-3">
    <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" ng-model="usuario.nome"> 
    </div> 
    </div>

  <div class="col-md-3">
    <div class="form-group">
    <label>CPF</label>
    <input type="text" class="form-control" ng-model="usuario.cpf"> 
    </div> 
    </div>

  </div>
  
<hr>

<button type="submit" class="btn btn-warning">Atualizar</button>
<button type="button" class="btn btn-danger" ng-click="deleta(usuario.id)">Deletar</button>
</form>

  </div>
</div>
