<div class="alert alert-success" ng-hide="mensagem">
  <strong>Sucesso!</strong> Dados cadastrado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users" aria-hidden="true"></i>
	<label>Cadatro de um Novo Grupo</label>

</div>

<hr>

<div class="conteudo">
  <div class="tres">
    <table class="table-hover table">
      <tr>
        <td ng-click="tab('site')">Site</td>
      </tr>
      <tr>
        <td ng-click="tab('portal')">Portal</td>
      </tr>
      <tr>
        <td ng-click="tab('sistema')">Sistema</td>
      </tr>
      <tr>
        <td ng-click="tab('config')">Configuraçoes</td>
      </tr>
    </table>
  </div>

<div class="quatro">

  <form name="FormUsuario" ng-submit="add(usuario)">

    <div ng-show="site">
      <table class="table">
        <tbody>
          <tr>
            <td>Noticia</td>
          </tr>
        </tbody>

        <tr>
          <td>Nova Noticia</td>
        </tr>
        <tr>
          <td>Altera Noticia</td>
        </tr>
      </table>
    </div>

    <div ng-show="portal">
      <table class="table">
        <tbody>
          <tr>
            <td>Curso</td>
          </tr>
        </tbody>

        <tr>
          <td>Novo Curso</td>
          <td> <input type="checkbox" name="animal" value="Cat" />Sim <br /></td>
        </tr>
        <tr>
          <td>Altera Curso</td>
        </tr>
      </table>

      <table class="table">
        <tbody>
          <tr>
            <td>Oportunuidade</td>
          </tr>
        </tbody>

        <tr>
          <td>Novo Oportunidade</td>
        </tr>
        <tr>
          <td>Altera Oportunidade</td>
        </tr>
      </table>

    </div>

    <div ng-show="sistema">
      menu Sitema
    </div>

    <div ng-show="config">
      menu Configurações
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Salvar Dados</button>
  </form>
</div>

</div>
