<div id="blocoNoticiasPortal">

<div class="alert alert-success" ng-hide="mensagem">
  <strong>Sucesso!</strong> Abertura de chamado concluida, aguarde o retorno da Administração.
</div>
	
	<h4>Sistema de Gereciamento de Ticket</h4>

  <div class="navTabs">
    <a class="btn btn-default" role="button" ng-click="go('tab1')">Novo Ticket</a>
    <a class="btn btn-default" role="button" ng-click="go('tab2')">Em Andamento</a>
    <a class="btn btn-default" role="button" ng-click="go('tab3')">Finalizados</a>
  </div>

<div class="row" ng-show="tab1">

<!-- ############################################################################################## -->

	<form name="FormTicket" ng-submit="add(ticket)">
		<div class="col-md-12">
      		<div class="form-group">
				<select class="form-control" ng-model="ticket.assuntoTicket">
					<option value="">Selecione um Assunto</option>
					<option value="Segunda Via de Boleto">Segunda Via de Boleto</option>
					<option value="Mudança de Onibus">Mudança de Onibus</option>
				</select>
      		</div>
		</div>

		<div class="col-md-12">
      		<div class="form-group">
				<textarea class="form-control" ng-model="ticket.descricaoTicket" rows="10" required></textarea>
      		</div>
		</div>

		<hr>	
		<div class="col-md-12">
      		<div class="form-group">
				<button type="submit" class="btn btn-primary">Abrir Ticket</button> 
      		</div>
		</div>
	</form>
</div>

<!-- ############################################################################################## -->
<br />

	<div class="row" ng-show="tab2">

		<div ng-repeat="x in tickets">
			
			<div class="col-md-12">
				<label class="form-control">{{x.assuntoTicket}}
					<span style="float:right"> <i class="fa fa-comments" aria-hidden="true" ng-click="showMensagem(x)"></i></span></a>
					<span style="float:right; margin-right:20px;"> <i class="fa fa-eye-slash" aria-hidden="true" ng-click="hideMensagem(x.idTicketCodificado)"></i></span></a>
				</label>
			</div>
	
			<div class="col-md-12" ng-show="{{x.idTicketCodificado +'teste'}}">
				<div class="col-md-12">
					<div class="form-group">
						<div class="janela-chat">
							<div ng-repeat="y in mensagens">
							<div class="{{y.isAssocCodificado}}"><strong>{{y.isAssocCodificado}} : </strong>{{y.mensagemTicketMessage}}</div>
							</div>

						</div>
					</div>
				</div>

				<div class="acoes-chat">
					<form name="FormChat" ng-submit="newmensagem(x)">
					<div class="col-md-10">
							<div class="form-group">
							   <input type="text" class="form-control"  ng-model="x.mensagemTicketMessage">	   
							</div>
					</div>

					 <div class="col-md-2">
								<div class="form-group">
								<button type="submit" class="btn btn-primary">Enviar</button> 
								</div>
					 </div>
							</div>
							</form>
				</div>
			</div>


			
			</div>
		</div>




<!-- ############################################################################################## -->

<div class="row" ng-show="tab3">
</div>

	</div>