
<div class="alert alert-success" ng-hide="mensagem">
  <strong>Sucesso!</strong> Dados cadastrado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-newspaper-o" aria-hidden="true"></i>
	<label>Cadastro de Noticia</label>

</div>

<hr>

<div class="conteudo">
<div id="sample">
<script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
  </script>
  <h4>
    First Textarea
  </h4>
  <textarea name="area1" cols="40">
</textarea><br />
  <h4>
    Second Textarea
  </h4>
  <textarea name="area2" style="width: 100%;">
       Some Initial Content was in this textarea
</textarea><br />
  <h4>
    Third Textarea
  </h4>
  <textarea name="area3" style="width: 300px; height: 100px;">
       HTML content default in textarea
</textarea>
</div>
<form name="FormNoticia" ng-submit="add(noticia)">
	
	<div class="row">

		<div class="col-md-12">
			<div class="form-group">
			<label>Titulo</label>
			<input type="text" class="form-control" ng-model="noticia.titulo"> 
	    </div>
	    </div>
	  </div>

	<div class="row">

		<div class="col-md-12">
			<div class="form-group">
			<label>Chamada</label>
			<input type="text" class="form-control" ng-model="noticia.chamada"> 
	    </div>
	    </div>
	  </div>
	
	<div class="row">
		<div class="col-md-12">		
		<label>Descrição</label>
			<textarea ng-model="noticia.descricao"></textarea>
			<textarea name="area2" style="width: 100%;">
       Some Initial Content was in this textarea
</textarea>
		</div>
	</div>


	
<hr>
<button type="submit" class="btn btn-primary">Salvar Dados</button> 
</form>

</div>