<div class="template">

    <!-- Mensagens-->
    <div class="row">
      <div class="col col-md-12">
        
        <div class="alert alert-success" ng-hide="mensagemSucesso">
          <strong>Sucesso!</strong> Dados cadastrado com sucesso.
        </div>
          
        <div class="alert alert-warning" ng-hide="mensagemAtualizado">
          <strong>Sucesso!</strong> Dados alterado com sucesso.
        </div>

        <div class="alert alert-danger" ng-hide="mensagemDelete">
          <strong>Sucesso!</strong> Dados deletado com sucesso.
        </div>
          
    </div>
    </div>


    
     <!-- Topo Template-->
    <div class="row">

      <div class="col col-md-4 labelTemplate">
          <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
          <label>Painel de Ações do Cliente</label>
          
      </div>
        
       <div class="col col-md-4">
         <div class="input-group margin-bottom-sm">
    			 <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
    			 <input class="form-control" type="text" ng-model="busca" placeholder="Procure pelo nome do Cliente" required="required">
			   </div>
       </div>

       <div class="col col-md-4">
          <div class="acaoTemplate">
              <button type="button" ng-click="novo();" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-post">Novo <i class="fa fa-file-o" aria-hidden="true"></i></button>
         </div>
       </div>
    </div>

 <!-- Corpo Template-->

    <div class="row corpoTemplate">
        <div class="col col-md-12">
            
            <table class="table table-hover corpoTableTemplate">
              <thead>
                <tr>
                  <th class="centro">#</th>
                  <th>Nome</th>
                  <th class="centro">Detalhes</th>
                  <th class="centro">Alterar</th>
                  <th class="centro">Deletar</th>
                </tr>
              </thead>

            <tbody> 
             <tr ng-repeat="x in clientes | filter: busca  ">
               
               <td class="centro">{{x.idCliente}}</td>
               <td>{{x.nomeCliente}}</td>
               
               <td class="centro">
                   <a class="btn btn-default" ng-click="dados(x.idCliente)"  aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-address-card-o" ></i></a>
               </td>
                 
               <td class="centro">
                   <a class="btn btn-default" ng-click="dados(x.idCliente)" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg-update"><i class="fa fa-pencil-square-o" ></i></a>
               </td>
               
                 <td class="centro">
                     <a class="btn btn-default" ng-click="dados(x.idCliente)" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg-delete" ><i class="fa fa-trash-o "></i></a>
               </td>
             
                </tr>
            </tbody>
                
            </table>
            
        </div>
    </div>
        
  <!-- Modal Novo -->
<div class="modal fade bs-example-modal-lg-post" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="closeModalPost">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastrar novo Curso</h4>
      </div>
        
       <form name="FormCliente" ng-submit="add(cliente)">
    
           <div class="modal-body">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                  <label>Nome Completo</label>
                  <input type="text" class="form-control" ng-model="cliente.nomeCliente" required> 
                  </div> 
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                  <label>E-mail</label>
                  <input type="email" class="form-control" ng-model="cliente.emailCliente" required> 
                  </div> 
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                  <label>Endereço</label>
                  <input type="text" class="form-control" ng-model="cliente.enderecoCliente" required> 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Telefone Fixo:</label>
                  <input type="text" class="form-control" ng-model="cliente.telFixoCliente" ui-br-phone-number > 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Telefone Celular:</label>
                  <input type="text" class="form-control" ng-model="cliente.telCelularCliente" ui-br-phone-number> 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Telefone Comercial:</label>
                  <input type="text" class="form-control" ng-model="cliente.telComercialCliente" ui-br-phone-number> 
                  </div> 
                </div>

              </div>
      
           </div><!--modal-body -->
        
             <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Salvar Dados</button> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
           
         </form>
        
    </div>
  </div>
</div>   
    
<!-- Modal Update -->
<div class="modal fade bs-example-modal-lg-update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="closeModalUpdate">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atualizar {{cliente.nomeCliente}}</h4>
      </div>
        
       <form name="FormCliente" ng-submit="put(cliente)"> 
    
           <div class="modal-body">
              <div class="row">

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Nome Completo</label>
                  <input type="text" class="form-control" ng-model="cliente.nomeCliente" required> 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>E-mail</label>
                  <input type="email" class="form-control" ng-model="cliente.emailCliente" required> 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Endereço</label>
                  <input type="text" class="form-control" ng-model="cliente.enderecoCliente" required> 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Telefone Fixo:</label>
                  <input type="text" class="form-control" ng-model="cliente.telFixoCliente" ui-br-phone-number > 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Telefone Celular:</label>
                  <input type="text" class="form-control" ng-model="cliente.telCelularCliente" ui-br-phone-number> 
                  </div> 
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                  <label>Telefone Comercial:</label>
                  <input type="text" class="form-control" ng-model="cliente.telComercialCliente" ui-br-phone-number> 
                  </div> 
                </div>

            </div>    <!--row -->
       
           </div><!--modal-body -->
        
             <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Atualizar Dados</button> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
           
         </form>
        
    </div>
  </div>
</div>

 <!-- Modal Delete -->
<div class="modal fade bs-example-modal-lg-delete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="closeModalDel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deletar</h4>
      </div>
        
            <div class="modal-body">               
               Deseja realmente Deletar {{cliente.nomeCliente}} ?                 
           </div><!--modal-body -->
        
             <div class="modal-footer">
                 <button type="button" class="btn btn-danger" ng-click="del(cursofaculdade.id)">Sim</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
              </div>
        
    </div>
  </div>
</div>

<!-- Modal Detalhes -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="closeModalDetalhes">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalhes {{cliente.nomeClienete}}</h4>
      </div>
        
    <div class="modal-body">
            <table class="table table-hover corpoTableTemplate">
              <tbody>
                <tr>
                  <td>id</td>
                  <td>{{cliente.idCliente}}</td>
                </tr>
                <tr>
                  <td>Nome</td>
                  <td>{{cliente.nomeCliente}}</td>
                </tr>
                <tr>
                  <td>Endereço</td>
                  <td>{{cliente.enderecoCliente}}</td>
                </tr>
                <tr>
                  <td>E-mail</td>
                  <td>{{cliente.emailCliente}}</td>
                </tr>
                <tr>
                  <td>Telefone Fixo</td>
                  <td>{{cliente.telFixoCliente}}</td>
                </tr>
                <tr>
                  <td>Telefone Celular</td>
                  <td>{{cliente.telCelularCliente}}</td>
                </tr>
                <tr>
                  <td>Telefone Comercial</td>
                  <td>{{cliente.telComercialCliente}}</td>
                </tr>
              </tbody>
        </table>
      </div>
        
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
        
        
    </div>
  </div>
</div>

</div><!-- End Template ->
