<div class="alert alert-success" ng-show="mensagemSucesso">
  <strong>Sucesso!</strong> Dados cadastrado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users" aria-hidden="true"></i>
	<label>Planos</label>

</div>

<hr>

<div class="conteudo">
  {{idTransacaoPagSeguro}}
   <div class="bloco-plano">
      1 Ano Por Apenas R$ 49,99 {{nomeUsuario}}
    <!-- Botão Pagseguro -->  
          <input alt="Pague com PagSeguro" ng-click="pagseguro()" type="image"  
  src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"/>  
            
    </div>


</div>




<script type="text/javascript">
 alert(PagSeguroDirectPayment.setSessionId('{{idTransacaoPagSeguro}}'));
</script>