<div class="acoes">

	<i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
	<label>Portal do Associado</label>
</div>

<hr>

<div class="conteudo">
 
 <div class="tres">

   <input type="text" class="form-control" ng-model="busca" placeholder="Procure por Nome ou ID">
   <br>

   <table class="table table-condensed">
    <thead>
     <tr>
        <td>Cod</td>
        <td>Nome do Associado</td>
     </tr>
    </thead>

    <tbody> 
     <tr ng-repeat="x in associados | filter: busca">
       <td>{{x.id}}</td>
       <td> <a ui-sref="user.associado.portal.detalhes({id: x.id})">{{x.nome}}</a></td>
     </tr>
   
    </tbody>

   </table>

  </div>

  <div class="quatro">

  <form name="FormPortal" ng-submit="add(usuario)">
      <div class="row">

  <div class="col-md-3">
    
    <div class="form-group">
      <label>E-mail</label>
      <input type="text" class="form-control" disabled="disabled" ng-model="usuario.email"> 
      </div> 
    </div>

     <div class="col-md-9">
      <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" ng-model="usuario.senha">
       </div>
     </div>

  </div>
  
<hr>
<button type="śubmit" class="btn btn-primary">Salvar Dados</button> 

  </form>

  </div>
</div>
