<div id="blocoBanner">
	<img src="aetub/imagens/banner1.png">
	<img src="aetub/imagens/banner2.jpg">
	<img src="aetub/imagens/banner3.png">
</div>

<div id="blocoNoticias">	
	
	<h4>Noticias</h4>

		<div ng-repeat="x in posts" ng-show="leiaMais">
		
		<div class="titulo">{{x.titulo}}</div>
		<div class="chamada">{{x.chamada}}</div>
		<div class="leiamais"><a ui-sref="home.inicio.detalhes({id: x.id})" ng-click="dados(x.id)"><button type="button" class="btn btn-primary">Leia Mais</button></a></div>
		</div>

		<div ng-show="Noticia">
			<div class="titulo">{{post.titulo}}</div>
			<div class="chamadaLeiaMais">{{post.chamada}}</div>
			<div class="descricao">{{post.descricao}}</div>
			<hr>
			<a ng-click="voltar()"><button type="button" class="btn btn-danger">Voltar</button></a>
		</div>

	</div>

<div id="blocoEstagios">

	
</div>


<div id="blocoEspera">	
	<h4>Próximos se Associar Geral</h4>
	<form>
		<select class="form-control" ng-model="l.linha" ng-options=" l.linha as l.linha for l in linhas">
			<option value="">Filtre por Região</option>
			<label>Lista Geral</label>
		</select>
	</form>

	<table class="table .table-hover">
		<tr ng-repeat="x in associados | filter : l.linha | orderBy: '+vagaCreateAt'">
			<td>{{$index+1}}º</td>
			<td>{{x.nome}}</td>
		</tr>


		<tr>
			<td colspan="2"><button type="button" class="btn btn-primary">Lista Completa</button></td>
		</tr>
	</table>
</div>