<div id="blocoBanner">
	<img src="aetub/imagens/banner1.png">
	<img src="aetub/imagens/banner2.jpg">
	<img src="aetub/imagens/banner3.png">
</div>

<div id="blocoNoticias">	
	
	<h4>Noticias</h4>

		<div ng-repeat="x in posts" ng-show="leiaMais">
		
		<div class="titulo">{{x.titulo}}</div>
		<div class="chamada">{{x.chamada}}</div>
		<div class="leiamais"><a ui-sref="home.inicio.detalhes({id: x.id})" ng-click="dados(x.id)"><button type="button" class="btn btn-primary">Leia Mais</button></a></div>
		</div>

		<div ng-show="Noticia">
			<div class="titulo">{{post.titulo}}</div>
			<div class="chamada">{{post.chamada}}</div>
			<div class="descricao">{{post.descricao}}</div>
			<hr>
			<a ng-click="voltar()"><button type="button" class="btn btn-danger">Voltar</button></a>
		</div>

	</div>

<div id="blocoEstagios">

	
</div>


<div id="blocoEspera">	
	<h4>Próximos se Associar Geral</h4>
	<form>
		<select class="form-control">
			<option>Filtre por Região</option>
			<option>Bertioga</option>
			<option>Guarujá</option>
			<option>Mogi das Cruzes</option>
			<option>Santos</option>
		</select>
	</form>

	<table class="table .table-hover">
		<tr>
			<td>1º</td>
			<td>Adnilton Santos</td>
		</tr>

		<tr>
			<td>2º</td>
			<td>Guilherme Lima de Britto</td>
		</tr>

		<tr>
			<td>3º</td>
			<td>Talita Brito Ozea</td>
		</tr>

		<tr>
			<td>4º</td>
			<td>Erika Patricia Santos Alencar</td>
		</tr>

		<tr>
			<td>5º</td>
			<td>Lygia Victoria Lima de Britto</td>
		</tr>

		<tr>
			<td>6º</td>
			<td>Pedro Alvares Cabral</td>
		</tr>

		<tr>
			<td>7º</td>
			<td>Steve Jobs</td>
		</tr>

		<tr>
			<td>8º</td>
			<td>Mark Zuckeberg</td>
		</tr>

		<tr>
			<td>9º</td>
			<td>Tim Liberty</td>
		</tr>

		<tr>
			<td>10º</td>
			<td>Bill Gates2</td>
		</tr>

		<tr>
			<td colspan="2"><button type="button" class="btn btn-primary">Lista Completa</button></td>
		</tr>
	</table>
</div>