<div class="alert alert-warning" ng-hide="mensagem">
  <strong>Update!</strong> Atualização dos Dados foram inserido com sucesso.
</div>


<div class="acoes">

	<i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
	<label>Portal do Associado</label>
</div>

<hr>

<div class="conteudo">
 
 <div class="tres">

   <input type="text" class="form-control" ng-model="busca" placeholder="Procure por Nome ou ID">
   <br>

   <table class="table table-condensed">
    <thead>
     <tr>
        <td>Cod</td>
        <td>Nome do Associado</td>
     </tr>
    </thead>

    <tbody> 
     <tr ng-repeat="x in associados | filter: busca">
       <td>{{x.id}}</td>
       <td> <a ui-sref="user.associado.portal.detalhes({id: x.id})" ng-click="dados(x.id)">{{x.nome}}</a></td>
     </tr>
   
    </tbody>

   </table>

  </div>

<div class="quatro" ng-show="quatro">

  <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>{{associado.nome}}
    <hr>

  <form name="FormPortal" ng-submit="add(associado)">
    
    <div class="row">

  <div class="col-md-3">
    
    <div class="form-group">
      <label>CPF</label>
      <input type="text" class="form-control" ng-model="associado.cpf" required> 
      </div> 
    </div>

     <div class="col-md-9">
      <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" ng-model="associado.senha" required>
       </div>
     </div>

  </div>
  
<hr>
<button type="śubmit" class="btn btn-warning">Atualizar Dados</button> 

  </form>

  </div>
</div>
