<div class="alert alert-success" ng-show="mensagemSucesso">
  <strong>Sucesso!</strong> Dados cadastrado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users" aria-hidden="true"></i>
	<label>Faturas para Pagamentos</label>

</div>

<hr>

<div class="conteudo">
    <select class="form-control">
        <option value="">2016</option>
        <option value="">2017</option>
        <option value="">2018</option>
    </select>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>Ref</td>
                <td>Mês</td>
                <td>Valor</td>
                <td>Status</td>
                <td>Data do Pagamento</td>
                <td><button type="submit" class="btn btn-primary">Pagar</button></td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>#158</td>
                <td>Janeiro/2017</td>
                <td>R$ 49,99</td>
                <td>A Pagar</td>
                <td>----</td>
                <td>Botao</td>
            </tr>

            <tr>
                <td>#159</td>
                <td>Fevereiro/2017</td>
                <td>R$ 49,99</td>
                <td>A Pagar</td>
                <td>----</td>
                <td>Botao</td>
            </tr>

            <tr>
                <td>#160</td>
                <td>Março/2017</td>
                <td>R$ 49,99</td>
                <td>A Pagar</td>
                <td>----</td>
                <td>Botao</td>
            </tr>

            <tr>
                <td>#161</td>
                <td>Abril/2017</td>
                <td>R$ 49,99</td>
                <td>A Pagar</td>
                <td>----</td>
                <td>Botao</td>
            </tr>
        </tbody>


    </table>
</div>
