<div class="alert alert-success" ng-hide="mensagem">
  <strong>Sucesso!</strong> Dados alterado com sucesso.
</div>

<div class="alert alert-danger" ng-hide="mensagemDeleta">
  <strong>Sucesso!</strong> Dados deletado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-newspaper-o" aria-hidden="true"></i>
  <label>Alteraração das Universidade</label>
</div>

<hr>

<div class="conteudo">
 
 <div class="tres">

   <input type="text" class="form-control" ng-model="busca" placeholder="Procure pelo titulo">
   <br>

   <table class="table table-condensed">
    <thead>
     <tr>
        <td>Universidades</td>
     </tr>
    </thead>

    <tbody> 
     <tr ng-repeat="x in universidades | filter: busca  ">
       <td class="teste"> <a ui-sref="user.universidade.altera.detalhes({id: x.id})" ng-click="dados(x.id)">{{x.nome}}</a></td>
     </tr>
   
    </tbody>

   </table>

  </div>

  <div class="quatro" ng-show="quatro">
<h4>{{universidade.nome}}</h4>
    <hr>


<form name="FormUniversidade" ng-submit="put(universidade)">
  
  <div class="row">

  <div class="col-md-12">
    <div class="form-group">
    <label>Nome da Universidade</label>
    <input type="text" class="form-control" ng-model="universidade.nome" required> 
    </div> 
    </div>

    </div>
  
<hr>
<button type="submit" class="btn btn-primary">Salvar Dados</button> 
<button type="button" class="btn btn-danger" ng-click="del(universidade.id)">Deletar</button>
</form>

  </div>
</div>
