<div class="template">

    <!-- Mensagens-->
    <div class="row">
      <div class="col col-md-12">
        <div class="alert alert-success" ng-hide="mensagem">
          <strong>Sucesso!</strong> Dados cadastrado com sucesso.
        </div>
    </div>
    </div>

    
     <!-- Topo Template-->
    <div class="row">

      <div class="col col-md-4 labelTemplate">
          <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
          <label>Painel de Ações de Universidade</label>
          
      </div>
        
        <div class="col col-md-4">
               		<div class="input-group margin-bottom-sm">
			  			<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
			  			<input class="form-control" type="text" ng-model="busca" placeholder="Procure pelo titulo" required="required">
					</div>
        </div>

       <div class="col col-md-4">
        <div class="acaoTemplate">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg-post">Novo <i class="fa fa-file-o" aria-hidden="true"></i></button>
       </div>

    </div>
    
 <!-- Corpo Template-->

    <div class="row corpoTemplate">
        <div class="col col-md-12">
            
            <table class="table table-hover corpoTableTemplate">
              <thead>
                <tr>
                  <th class="centro">#</th>
                  <th>Nome</th>
                  <th class="centro">Detalhes</th>
                  <th class="centro">Alterar</th>
                  <th class="centro">Deletar</th>
                </tr>
              </thead>

            <tbody> 
             <tr ng-repeat="x in universidades | filter: busca  ">
               <td class="centro">{{x.id}}</td>
               <td><a ui-sref="user.universidade.altera.detalhes({id: x.id})" ng-click="dados(x.id)">{{x.nome}}</a></td>
                 <td class="centro">
                     <i ng-click="dados(x.id)" class="fa fa-address-card-o fa-lg"  aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
                 </td>
               <td class="centro"><i ng-click="dados(x.id)" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg-update"></i></td>
               <td class="centro"><i ng-click="dados(x.id)" class="fa fa-trash-o fa-lg" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg-delete"></i></td>
             </tr>
            </tbody>
                
            </table>
            
        </div>
    </div>
  <!-- Modal Novo -->
<div class="modal fade bs-example-modal-lg-post" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastrar nova Universidade</h4>
      </div>
        
       <form name="FormUniversidade" ng-submit="add(universidade)">
    
           <div class="modal-body">
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label>Nome da Universidade</label>
                        <input type="text" class="form-control" ng-model="universidade.nome" required> 
                    </div> 
                    </div>                  
                </div>       
           </div><!--modal-body -->
        
             <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Salvar Dados</button> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
           
         </form>
        
    </div>
  </div>
</div>   
    
<!-- Modal Detalhes -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalhes {{universidade.nome}}</h4>
      </div>
        
    <div class="modal-body">
            <table class="table table-hover corpoTableTemplate">
              <tbody>
                <tr>
                  <td>id</td>
                  <td>{{universidade.id}}</td>
                </tr>
                <tr>
                  <td>Nome</td>
                  <td>{{universidade.nome}}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>{{universidade.status}}</td>
                </tr>
              </tbody>
        </table>
      </div>
        
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
        
        
    </div>
  </div>
</div>
    
    
<!-- Modal Update -->
<div class="modal fade bs-example-modal-lg-update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atualizar {{universidade.nome}}</h4>
      </div>
        
       <form name="FormUniversidade" ng-submit="put(universidade)"> 
    
           <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                        <label>Nome da Universidade</label>
                        <input type="text" class="form-control" ng-model="universidade.nome" required> 
                        </div> 
                    </div>
            </div>
                
       
           </div><!--modal-body -->
        
             <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Atualizar Dados</button> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
           
         </form>
        
    </div>
  </div>
</div>

 <!-- Modal Delete -->
<div class="modal fade bs-example-modal-lg-delete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deletar</h4>
      </div>
        
       <form name="FormUniversidade" ng-submit="put(universidade)"> 
    
           <div class="modal-body">               
               Deseja realmente Deletar ? {{universidade.nome}}                
           </div><!--modal-body -->
        
             <div class="modal-footer">
                 <button type="button" class="btn btn-danger" ng-click="del(universidade.id)" data-dismiss="modal">Sim</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
              </div>

        
    </div>
  </div>
</div>



</div><!-- End Template ->
