<div class="alert alert-warning" ng-hide="mensagem">
  <strong>Update!</strong> Atualização dos Dados foram inserido com sucesso.
</div>

<div class="alert alert-danger" ng-hide="mensagemDeleta">
  <strong>Sucesso!</strong> Dados deletado com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users fa-lg aria-hidden="true"></i>

	<label>Lista de Espera</label>
</div>

<hr>

<div class="conteudo">
 
 <div class="tres">

   <input type="text" class="form-control" ng-model="busca" placeholder="Procure pelo Associado">
   <br>

   <table class="table table-condensed">
    <thead>
     <tr>
        <td>Lista de Pré-Associados</td>
     </tr>
    </thead>

    <tbody> 
     <tr ng-repeat="x in associados | filter: busca">
       <td> <a ui-sref="user.vaga.inseri.detalhes({id: x.id})" ng-click="dados(x.id)">{{x.nome}}</a></td>
     </tr>
   
    </tbody>

   </table>

  </div>

<div class="quatro" ng-show="quatro">
 
<h4>Cadastrar o Associado na Lista de Espera no Onibus</h4>
    <hr>

<form name="FormVaga" ng-submit="add(objeto)">
  
  <div class="row">

      <div class="col-md-3">
        <div class="form-group">
          <label>Linha</label>
            <select class="form-control" ng-model="objeto.linha" required="required" ng-options="p.linha for p in periodos">
              <option value="">Selecione uma Linha</option>

            </select>
        </div> 
      </div>

      <div class="col-md-9">
        <div class="form-group">
          <label>Associado</label>
            <input type="text" class="form-control" disabled="disabled" ng-model="objeto.nome">
        </div> 
      </div>
  </div>
    

<hr>

<button type="submit" class="btn btn-primary">Cadastrar</button>

</form>

  </div>
</div>
