<div class="alert alert-warning" ng-hide="mensagem">
  <strong>Update!</strong> Atualização dos Dados foram inserido com sucesso.
</div>

<div class="acoes">

<i class="fa fa-users fa-lg aria-hidden="true"></i>

	<label>Lista de Aprovação</label>
</div>

<hr>

<div class="conteudo">
 
 <div class="tres">

   <input type="text" class="form-control" ng-model="busca" placeholder="Procure pelo Associado">
   <br>

   <table class="table table-condensed">
    <thead>
     <tr>
        <td>Lista de Pré-Associados</td>
     </tr>
    </thead>

    <tbody> 
     <tr ng-repeat="x in associados | filter: busca">
       <td> <a ui-sref="user.vaga.aprova.detalhes({id: x.id})" ng-click="dados(x.id)">{{x.nome}}</a></td>
     </tr>
   
    </tbody>

   </table>

  </div>

<div class="quatro" ng-show="quatro">
 
<h4>Associado Aguardando Aprovação</h4>
    <hr>

<form name="FormVaga" ng-submit="add(objeto)">
  
  <div class="row">

      <div class="col-md-9">
        <div class="form-group">
          <label>Associado</label>
            <input type="text" class="form-control" disabled="disabled" ng-model="objeto.nome">
        </div> 
      </div>
  </div>
    

<hr>

<button type="submit" class="btn btn-primary">Aprovar</button>

</form>

  </div>
</div>
